h1{
    text-align: center;
    color:rgb(212, 43, 17);
}

#P01{
    font-family:'Courier New';
    font-size:120%;
    text-align: center;
    color:rgb(22, 177, 30);
    padding-bottom: 10px;
    margin: 0;
}

#txt1{
    background-color: rgb(32, 222, 11);
    border-radius: 50px;
    border-color: rgb(0, 217, 255);
    text-align: center;
    height: 30px;
    font-size: 20px;
    padding: 5px;
    display: block;
    margin: 0 auto;
}

#P02{
    font-family:'Courier New';
    font-size: 120%;
    text-align:center;
    color: rgb(14, 147, 191);
    margin: 0;
}

#txt2{
    background-color: rgb(14, 147, 191);
    border-radius: 50px;
    border-color: rgb(32, 222, 11);
    text-align:center;
    height: 30px;
    font-size:20px;
    padding: 5px;
    display: block;
    margin: 0 auto;

}
.somar{
    border-radius: 30px;
    font-size: 15px;
    background-color:rgb(32, 222, 11);

    
}
#somar1{
    text-align: center;
    padding: 15px 0px;
    display: inline-block;
    width: 100%;
}
body{
    margin: 0;
    padding: 0;
    /*background-color: rgb(113, 8, 8);*/
    background-image: url(images.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
}
#result{
    color:rgb(170, 14, 144);
    text-shadow: 2px 2px 2px; /* sombra*/
    font-size:30px;
    font-family: 'courier New';
    text-align: center;
    padding-top: 10px;
}
